@import "reset.css";
body {
    font-family: 'Titillium Web', sans-serif;
}
.wrapper{
max-width: 1140px;
width: calc(100%-40px);
margin: 0 auto;
}
.top_line {
display: flex;
align-items: center;
justify-content: space-between;
min-height: 150px;
}
header{
    display: block;
    height: 521px; 
    background: url(../images/robogruz.gif) repeat-x center;

}
.header_nav{
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600; 
} 
.header_nav a {
    text-decoration: none;
    color:inherit;
}
.header_nav ul {
display: flex;
}
.header_nav ul li {
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    transition: background 300ms ease-in-out;
    margin: 0 1px;
}
.header_nav ul li.active{
    background: #008080;
    border-radius: 3px;
}
.header_nav ul li:hover {
    background: #008080;
    border-radius: 3px;
    transition: background 300ms ease-in-out;
}
.bottom_line{
    text-align: center;
    padding-top: 85px;
    padding-bottom: 145px;
}
.bottom_line p{
    font-size: 50px;
    line-height: 60px;
    color: red;
    font-weight: 700;
    margin-bottom: 60px;
}
.button{
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background: #ed7d4b;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 4px solid #c86a40;
    transition: background 300ms ease-in-out;
}
.button:hover{
    background: #c86a40;
    transition: background 300ms ease-in-out;
}
section.services{
    background: #808080;
    padding: 130px 0;
    text-align:center;
}
section.services h2{
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position:"";
}
section.services h2:after {
content:"";
display: block;
width: 86px;
height: 4px;
background: rgba(0,0,0,0.15);
position: absolute;
left: 50%;
margin-left: -43px;
bottom: 0;
}
section.services .description{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.services .services_list{
display: flex;
align-items: flex-start;
justify-content: space-between;
}


section.services .services_list .service_item .img{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:50px ;
}
section.services .services_list .service_item .item_title{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
section.services .services_list .service_item  .item_discription{
color: #fff;
font-size: 16px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.02em;
padding-left: 30px;
padding-right: 30px;
box-sizing: border-box ;
}
section.contact{
    background: #696969;
    padding: 120px 0;
    text-align: center;
}
section.services h3{
    font-size: 40px;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
}
section.contact h3:after {
content:"";
display: block;
width: 86px;
height: 4px;
background: rgba(0,0,0,0.15);
position: absolute;
left: 50%;
margin-left: -43px;
bottom: 0;
}
section.contact .description{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 400;
    margin-bottom: 70px;
}
section.contact .contact_form{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
max-width: 856px;
margin: 0 auto;
}
section.contact .contact_form input[type="text"], section.contact .contact_form input[type="email"]{
    width: calc(50% - 16px);
    margin-bottom: 25px;
    background:#2F4F4F;
    color: #ffffff;
    border: none;
    padding-left: 23px;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 3px;
    box-sizing: border-box;
}
input:-webkit-input-placeholder,textarea:-webkit-input-placeholder {
    color: #fff;
    font-size: 18px;
}
input :-ms-input-placeholder,textarea:-webkit-input-placeholder{
    color: #fff;
    font-size: 18px;
}
input  :-moz-placeholder,textarea:-webkit-input-placeholder{
    color: #fff;
    font-size: 18px;
}
section.contact .contact_form textarea{
    width: 100%;
    margin-bottom: 60px;
    background: #2F4F4F;
    color: #ffffff;
    border: none;
    padding-left: 23px;
    height: 200px;
    line-height: 56px;
    font-size: 18px;
    border-radius: 3px;
    box-sizing: border-box;
}
section.contact .contact_form .submit{
    width: 100%;
    text-align: center;
}
section.contact .contact_form input[type="submit"]{
    border: 0;
    display: inline-block;
    padding-left: 80px;
    padding-right: 80px;
    background: #ed7d4b;
    height: 65px;
    line-height: 65px;
    font-size: 18px;
    letter-spacing: 0.02em;
    border-radius: 3px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 4px solid #c86a40;
    transition: background 300ms ease-in-out;
}

footer.footer{
    background: #778899;
}
.footer_social{
    font-size: 24px;
    letter-spacing: 0.02em;
    font-size: 600;
    color: #fff;
}
.footer_social ul{
    min-height: 110px;
    display: flex;
    justify-content: space-around;
    
}
footer.footer a{
    text-decoration: none;
    color: inherit;
}
footer.footer a:hover{
    color: #FFFF00;

}